a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}


.outline-brown{
  outline:1px solid brown;
}
