.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
    height: calc(100% - 85px);
}
