
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">



    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let station">{{station.code}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>total</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let station">{{station.total}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="voted">
        <mat-header-cell *matHeaderCellDef>voted</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let station">{{station.voted}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="approved">
        <mat-header-cell *matHeaderCellDef>approved</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let station">{{station.approved}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="rejected">
        <mat-header-cell *matHeaderCellDef>rejected</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let station">{{station.rejected  }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [pageSize]="15" [pageSizeOptions]="[15,  30, 50, 100]"></mat-paginator>  
